version: "3.9"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
    ports:
      - "5672:5672"
      - "15672:15672"

  traffic_sensor_simulator:
    build: ./services/traffic_sensor_simulator
    env_file: .env
    depends_on:
      - kafka
    restart: always

  traffic_density_processor:
    build: ./services/traffic_density_processor
    env_file: .env
    depends_on:
      - kafka
      - rabbitmq
    restart: always

  traffic_archiver:
    build: ./services/traffic_archiver
    env_file: .env
    depends_on:
      - kafka
    restart: always

  user_dashboard_backend:
    build: ./services/user_dashboard_backend
    env_file: .env
    depends_on:
      - rabbitmq
    ports:
      - "8000:8000"
    restart: always

  alert_dispatcher:
    build: ./services/alert_dispatcher
    env_file: .env
    depends_on:
      - rabbitmq
    restart: always

  query_client:
    build: ./services/query_client
    env_file: .env
    depends_on:
      - rabbitmq
    restart: always
